S_PORT=3001

##DATABASE
DB_NAME=abyss
DB_USERNAME=abyss_admin
DB_PASSWORD=scream

##JWT
JWT_PRIVATE_KEY=something_secure

##S3 BUCKET
ACCESS_KEY_ID=AWS_ACCESS_KEY
SECRET_ACCESS_KEY=AWS_SECRET_KEY

####DELETE ME######
#   (run following script in mysql to create dedicated account for db)
#   create USER 'abyss_admin'@'localhost' identified by 'scream';
#   GRANT ALL PRIVILEGEs on abyss.* to 'abyss_admin'@'localhost';
#   flush privileges;
