.post{
    margin: 2% 10%;
}
.postFooter{
    border-top: 2px solid grey;
    border-bottom: 5px solid grey;
    padding-left: 5%;
}
.footer{
    border-top: 2px solid grey;
    padding-left: 5%;
}
.postText{
    font-size: 2rem;
    padding: 2%;
}
/* .comment{
    margin: 2% 10%;
    
} */